@{
    ViewData["Title"] = "Home Page";
}
<!--MainContent--><h1>MyPage - Links</h1>
<h2>Football</h2>
<h3><a href="http://nfl.com" target="nfl">NFL.com</a></h3>
<h3><a href="http://espn.com" target="espn">ESPN</a></h3>
<h3><a href="http://https://www.footballdb.com" target="football.com">Football DB</a></h3>

<h2>Development</h2>
<h3><a href="http://docs.microsoft.com" target="ms docs">Microsoft Docs</a></h3>
<h3><a href="http://it-agile.de" target="itagile">Agile Knowledge</a></h3>
<h3><a href="http://wikipedia.org/de" target="wikipedia">Wikipedia</a></h3>
